@import "../../scss/common";

.footer-section {
  display: flex;
  align-items: flex-end;

  padding: 0 0 $grid-gap 0;
  min-height: 560px;

  background-image: url('./background.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  background-color: $diesel-dark;

  color: white;

  @include for-phone-only {
    background-size: cover;
    padding-top: $grid-gap * 2;
  }

  @include for-phone-only {
    text-align: center;
  }

  h2 {
    width: 100%;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 32px;
    line-height: 38px;

    margin: 0;
    margin-bottom: $grid-gap;
  }

  p {
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.9);

    @include for-tablet-landscape-up {
      font-size: 18px;
    }

    margin: 0;
    margin-bottom: $grid-gap / 2;
  }

  .btn {
    min-width: 190px;
    box-sizing: border-box;
  }

  footer {
    font-family: $font-family-secondary;
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    margin-top: $grid-gap;

    @include for-phone-only {
      text-align: center;
    }
  }
}
