@import "../../../scss/variables";

.table-row {
  display: grid;
  grid-column-gap: $grid-gap;
  box-sizing: border-box;

  &--has-background {
    position: relative;
    background-color: #fafafa;

    &:before {
      content: '';
      height: 1px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 2;
    }

    &:after {
      content: '';
      height: 1px;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      z-index: 2;
    }
  }
}
