@import '../../scss/variables';

.btn {
  display: inline-block;
  padding: 11px 32px;
  border-radius: 24px;
  border: none;

  background-color: $diesel;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color :white;

  font-family: $font-family;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $green;

    &:hover {
      background-color: $green-dark;
    }
  }
}
