@import "../../scss/common";

.list {
  text-align: left;

  &__title {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: 22px;
    line-height: 140%;
    color: $cod-gray;

    margin: 0;
    margin-bottom: $grid-gap;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
