@import "../../../scss/common";

.list-item {
  position: relative;
  padding-left: 50px;
  text-align: left;
  list-style: none;
  font-family: $font-family;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: $grid-gap;

  &:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 23px;
    left: 0;
    background-image: url('../../../img/icon-check.svg');
  }
}
