@import "../../../scss/variables";

.table-header {
  box-sizing: border-box;
  padding: $grid-gap;
  background-color: white;

  text-align: center;

  font-family: $font-family;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;

  &--bordered {
    position: relative;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: $box-shadow;

    &:before {
      content: '';
      background: white;
      position: absolute;
      bottom: 0;
      height: $grid-gap;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}
