@import "../../../scss/common";

.table-header {
  box-sizing: border-box;
  background-color: white;
  text-align: center;

  font-family: $font-family-secondary;

  font-size: 14px;
  line-height: 33px;
  word-break: break-all;

  padding: $grid-gap / 3;

  @include for-tablet-landscape-up {
    font-size: 22px;
    padding: $grid-gap;
    font-weight: bold;
  }

  &--bordered {
    position: relative;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: $box-shadow;

    &:before {
      content: '';
      background: white;
      position: absolute;
      bottom: 0;
      height: $grid-gap / 3;
      left: 0;
      right: 0;
      z-index: 1;

      @include for-tablet-landscape-up {
        height: $grid-gap;
      }
    }
  }
}
