@import "../../scss/common";

.card {
  box-shadow: $box-shadow;
  border-radius: 8px;
  text-align: left;
  padding: $grid-gap;
  background-color: white;
  min-height: 306px;
  box-sizing: border-box;

  &__title {
    font-family: $font-family;
    font-weight: $font-weight-heavy;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: $diesel-dark;
  }

  &__teaser {
    font-family: $font-family;
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $diesel-dark;

    &__link {
      text-decoration: underline;
      cursor: pointer;
      color: $green-darker;
    }
  }

  &--featured {
    text-align: center;
    min-height: auto;

    .card__title {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
