@import "../../scss/common";

.form-section {
  display: flex;
  align-items: center;
  width: calc(100% - 2px);
  min-height: 673px;

  background-image: url('./background.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  background-color: $milano-red;

  color: white;

  .container {
    flex-grow: 1;
  }

  .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    text-align: center;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 36px;
    line-height: 43px;

    margin: 0;
    margin-bottom: $grid-gap;


    @include for-tablet-landscape-up {
      margin-bottom: $grid-gap * 2;
    }
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }
}
