@import "../../scss/variables";

.form-section {
  padding: 3 * $grid-gap 0;
  min-height: 675px;

  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  color: white;

  h3 {
    text-align: center;
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-semibold;
    font-size: 36px;
    line-height: 43px;

    margin: 0;
    margin-bottom: $grid-gap;
  }

  input,
  button {
    width: 100%;
    box-sizing: border-box;
  }
}
