@import '../../scss/variables';

.field {
  padding: 13px 18px;
  background-color: $seashell;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  border: none;

  font-family: $font-family;
  font-size: 16px;
  line-height: 135%;
  color: #5B5B5B;

  margin: 0;
  margin-bottom: $grid-gap;

  &:focus {
    outline: none;
  }
}
