@import "../../scss/common";

.field {
  display: flex;
  flex-direction: column;

  &__label {
    color: $seashell;
    margin-top: -1 * $grid-gap/3;
    margin-bottom: $grid-gap/3;
  }

  &__input {
    padding: 13px 18px;
    height: 48px;
    box-sizing: border-box;
    background-color: $seashell;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    border: none;

    font-family: $font-family;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: $scorpion;

    margin: 0;
    margin-bottom: $grid-gap;

    // &:focus {
    //   outline: none;
    // }
  }

  &--half {
    @include for-tablet-landscape-up {
      width: calc(50% - 15px);
      float: left;

      &:nth-of-type(2n) {
        margin-right: 15px;
      }

      &:nth-of-type(2n-1) {
        margin-left: 15px;
      }
    }
  }
}
