@import 'scss/common';
@import 'scss/fonts';

body {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;

  @include for-desktop-up {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .hidden {
    display: none;
  }
}

section {
  box-sizing: border-box;
}

.cards-section {
  padding: 3 * $grid-gap 0;

  h2 {
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 32px;
    line-height: 38px;

    margin: 0;
    margin-bottom: $grid-gap;
  }

  .list {
    margin-top: 2 * $grid-gap;
  }

  @include for-tablet-portrait-up {
    .list {
      margin-left: $grid-gap;
    }
  }

  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.prices-section {
  padding: 3 * $grid-gap 0;

  p {
    padding-top: $grid-gap;
    color: $text-color-secondary;
  }
}

.support-section {
  padding-bottom: 3 * $grid-gap;
  address {
    font-style: normal;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        h2 {
          text-decoration: underline;
        }
      }
    }

    p {
      color: $text-color-secondary;
      line-height: 26px;
    }
  }
}
