@import 'scss/variables';
@import 'scss/fonts';
@import 'scss/grid';

body {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
}

section {
  box-sizing: border-box;
}

.cards-section {
  padding: 2 * $grid-gap 0;

  h2 {
    margin: 0;
    margin-bottom: $grid-gap;
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 32px;
    line-height: 38px;
  }

  @include for-tablet-landscape-up {
    .list {
      margin-left: $grid-gap;
    }
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.table-section {
  padding: 3 * $grid-gap 0;
}

.comments-section {
  padding: 2 * $grid-gap 0;
}
