@import 'scss/common';
@import 'scss/fonts';

body {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;

  @include for-desktop-up {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .hidden {
    display: none;
  }
}

section {
  box-sizing: border-box;
}

.cards-section {
  padding: 0 0 $grid-gap 0;
  margin-top: -$grid-gap;

  h2 {
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 32px;
    line-height: 38px;

    margin: 0;
    margin-bottom: $grid-gap;
  }

  .list {
    margin-top: 2 * $grid-gap;
  }

  @include for-tablet-portrait-up {
    padding: 2 * $grid-gap 0;
    margin-top: 0;

    .list {
      margin-left: $grid-gap;

    }
  }

  @include for-tablet-landscape-up {
    margin-top: 0;
  }

  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.table-section {
  padding: 3 * $grid-gap 0;
}

.comments-section {
  padding: 3 * $grid-gap 0 2 * $grid-gap 0;
}
