@import "./variables";

.container {
  max-width: $container-width;
  align-content: start;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gap;

  grid-column: span $grid-columns;
}

@mixin grid-generator() {
	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			grid-column: span $i;
		}
	}
}

@include grid-generator();

