// GRID
$container-width: 1050px;
$grid-gap: 30px;
$grid-column-width: 60px;
$grid-columns: 12;

// COLORS
$green: #07C90F;
$green-dark: #05A60B;
$green-darker: #029308;
$diesel: #280000;
$diesel-dark: #120000;
$milano-red: #B60504;

// TYPOGRAPHY
$font-family: 'SF-UI-Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-heavy: 800;
$font-weight-black: 900;
