@import "../../scss/common";

.teaser-section {
  padding: 3 * $grid-gap 0 0;
  min-height: 472px;

  background-image: url('./background.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  background-color: $milano-red;

  color: white;

  h2 {
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    margin: 0;
    margin-bottom: 1.5 * $grid-gap;
  }
}
