@import "../../../scss/common";

.table-cell {
  box-sizing: border-box;
  padding: $grid-gap / 2 0;
  text-align: left;

  font-family: $font-family;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  word-break: break-all;

  @include for-tablet-landscape-up {
    font-size: 16px;
    padding: $grid-gap / 2 $grid-gap;
    word-break: break-word;
  }

  &--bordered {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    text-align: center;
    box-shadow: $box-shadow;

    &:before {
      content: '';
      background-color: $alabaster;
      position: absolute;
      bottom: 0;
      height: $grid-gap / 2;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:after {
      content: '';
      background-color: $alabaster;
      position: absolute;
      top: 0;
      height: $grid-gap / 2;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}
