@import "../../../scss/variables";

.table-footer {
  padding: $grid-gap;

  &--bordered {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:before {
      content: '';
      background: white;
      position: absolute;
      top: 0;
      height: $grid-gap;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}
